@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    background:url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.ongoing{
    font-family: "Maven Pro",sans-serif;
    color: white;
    text-align: center;
    margin-top: 2%;
    font-weight: 400;
    font-size: xx-large;
}
.clubs{
    font-family: 'Red Rose',sans-serif;
    color: rgb(12, 12, 12);
    margin-left: 8%;
    margin-top: 5%;
    font-weight: 400;
    font-size: large;
}
.cugc{
    height: 310px;
    width: 300px;
    padding: 25px 30px 50px 10px;
    border-radius: 1%;
    position:absolute;
    border-color: rgb(245, 241, 241);
    background-color: white;
    position:absolute;
    left: 8%;
    top: 25%;
    font-family: 'Red Rose', sans-serif;
    text-align: center;
}
.rvcc{
    height: 310px;
    width: 320px;
    padding: 25px 30px 50px 10px;
    border-radius: 1%;
    border-color: rgb(245, 241, 241);
    background-color: white;
    position:absolute;
    left: 38%;
    top: 25%;
    font-family: 'Red Rose', sans-serif;
    text-align: center;
}
.nacreous{
    font-weight: bolder;
    color: rgb(91, 31, 231);
    font-size: 40px;
}
.colour{
    font-weight: bolder;
    color: rgb(91, 31, 231);
    font-size: 30px;
}
.rava{
    font-family: 'Red Rose',sans-serif;
    color: rgb(19, 18, 18);
    font-weight: 400;
    font-size: large;
}